@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  /* Primary Colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral Colors */
  --cool-gray: hsl(231, 11%, 63%);
  --purplish-gray-blue: rgb(143,142,251);;
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* Typography */
  --body-font-size: 16px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.form-bg {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--magnolia);
}

.form-container {
  width: 400px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: white;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
}

.form-container h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  color: var(--marine-blue);
  margin: 1rem 0;
}

.form-container form {
  background-color: white;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}

.form-container form .input-box {
  width: 100%;
  position: relative;
}


.form-container form .input-box input {
  position: relative;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--pastel-blue);
  border-radius: 5px;
  outline: none;
}

.form-container form .input-box span {
  position: absolute;
  left: 1rem;
  bottom: 15px;
  color: var(--pastel-blue);
  pointer-events: none;
  transition: all 0.5s linear;
}

.form-container form .input-box input:focus ~ span {
    transform: translateY(-17px);
    background-color: white;
    padding: 0 5px;
    font-size: 0.8rem;
}

.active {
  transform: translateY(-17px);
  background-color: white;
  padding: 0 5px;
  font-size: 0.8rem;
}

.form-container input[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--purplish-blue);
  color: var(--magnolia);
}


.text-danger {
  color: var(--strawberry-red);
}


.errors {
  margin: 1rem;
}

header {
  width: 100%;
  height: 3.5rem;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 .3rem 1rem rgba(0,0,0,.1);
}

nav .logo {
  font-size: 1.5rem;
  color: var(--marine-blue);
  font-family: "Pacifico", cursive;
}

.logo a {
  color: black;
}

.auth-links {
  margin-left: auto;
}

.auth-links a {
  margin: 0 1rem;
  background-color: var(--pastel-blue);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
  transition: all 0.2s ease-in-out;
}

.auth-links a:hover {
  border: 1px solid var(--pastel-blue);
  background-color: white;
  color: var(--pastel-blue);
}

.links {
  margin: 0 1rem 0 auto;
}

.links a {
  cursor: pointer;
  margin: 0 1rem;
  color: var(--marine-blue);
  transition: all 0.2s ease-in-out;
}

.links a:hover {
  letter-spacing: 0.1rem;
  color: var(--purplish-blue);
}

.message-modal-overlay, .join-modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);  
}

.show-modal {
  display: grid;
  place-items: center;
}

.message-modal-overlay .control, .join-modal-overlay .control{
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.message-modal-overlay .control i, .join-modal-overlay .control i {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
}

.message-modal-overlay .control i:hover, .join-modal-overlay .control i:hover{
  color: var(--strawberry-red);
  transform: rotate(180deg);
}

.message-modal, .join-modal {
  width: 300px;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.message-modal h2, .join-modal h2 {
  color: var(--marine-blue);
  text-transform: capitalize;
  font-size: 16px;
}

.message-modal form, .join-modal form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.message-modal form textarea, .join-modal form input {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--pastel-blue);
}

.message-modal form button, .join-modal form button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--purplish-blue);
  color: white;
  border: none;
  outline: none;
}

.message-container {
  width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;
}

.message {
  padding: 0.5rem;
  margin: 0.2rem 0;
  border-radius: 5px;
  width: 100%;
  background-color: var(--magnolia);
}

.message .timestamp {
  font-size: 0.8rem;
  color: var(--cool-gray);

}
.message-author {
  font-weight: var(--font-weight-bold);
  color: var(--marine-blue);
}

.message .top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

